@model IEnumerable<Budget_Tracker.Models.ApplicationUsers>


<h1>Users</h1>

<p>
    
</p>
<table class="table" id="userTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    
                </tr>
            
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>

