@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To get started, create a budget using the budget tab above. Next, set up a budget category and begin adding expenses.</p>
</div>
